:root {
    --light-bg-color: #ced4da; /*d1dbe0*/
    --light-text-color: #0009;
    --dark-bg-color: #1e2a38; /*1e2a38*/
    --dark-text-color: #fdfdfdc4;
    --primary-color: #57a2e9;
    --primary-color-dark: #1970c26e;
    --primary-hover-color: #1971c2;
    --secondary-color: #949494;
    --border-color: var(--light-bg-color);
    --border-color-dark: var(--light-bg-color);
    --welcome-message-light-bg-color: #aac3cf;
    --welcome-message-dark-bg-color: #314050;
    --language-select-light-bg-color: #aac3cf42;
    --language-select-dark-bg-color: var(--welcome-message-dark-bg-color);
    --input-dark-bg: #2a3b4d;
    --input-light-bg: #e9ecef;
    --tooltip-bg: #949494;
    --white: white;
    --welcome-bow-shadow: #0000001a;
    --header-box-shadow: #0c1116b4;
    --body-dark-button-border: #444;
    --slider-knob-color: #fefefe; /*var(--primary-color-dark);*/
    --slider-knob-color-dark: #fefefe;
    --slider-primary-color: #1e14d2;
    --slider-primary-color-dark: #5ca6ffc4;
    --slider-background-color: #3678bf;
    --slider-background-color-dark: #ccccccb2;
    --toggle-light-bg-color: #25374d91;
    --toggle-dark-bg-color: #dde5f0cb;
    --header-left-logo: 40px;
    --header-slider-space: 3px;
    --header-slider-diameter: calc(var(--header-left-logo) * 0.5);
    --header-slider-width: calc(var(--header-slider-diameter) * 2);
    --header-slider-knob-size: calc(var(--header-slider-diameter) - 2 * var(--header-slider-space));
    --graphOpacity: 0.01;
    --graphRentColorLight: #2584e9c6;
    --graphRentFillColorLight: #2c83e125;
    --graphPurchaseColorLight: #f03f3fd0;
    --graphPurchaseFillColorLight: #df2a2a36;
    --graphRentColorDark: #3f90e6c6;
    --graphRentFillColorDark: #4a93e225;
    --graphPurchaseColorDark: #f06161d0;
    --graphPurchaseFillColorDark: #e7484836;
    --graphTextColorLight: #0000008e;
    --graphTextColorDark: #fdfdfd91;
    --form-section-border-color: #9593932e;
    --form-container-border-color: #95939382;
}

body {
    --graphRentColor: var(--graphRentColorLight);
    --graphRentFillColor: var(--graphRentFillColorLight);
    --graphPurchaseColor: var(--graphPurchaseColorLight);
    --graphPurchaseFillColor: var(--graphPurchaseFillColorLight);
    --graphTextColor: var(--graphTextColorLight);
    font-family: Arial, sans-serif;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    overflow-x: hidden;
    width: calc(100% - 10px);
    margin: 5px;
}

body.dark-mode {
    /* font-family: Arial, sans-serif; */
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    --graphRentColor: var(--graphRentColorDark);
    --graphRentFillColor: var(--graphRentFillColorDark);
    --graphPurchaseColor: var(--graphPurchaseColorDark);
    --graphPurchaseFillColor: var(--graphPurchaseFillColorDark);
    --graphTextColor: var(--graphTextColorDark);
}

input,
button {
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: var(--input-light-bg);
}

body.dark-mode button {
    background-color: var(--primary-color-dark);
    color: var(--dark-text-color);
    border: 1px solid var(--body-dark-button-border);
}

body.dark-mode input {
    background-color: var(--input-dark-bg);
    color: var(--dark-text-color);
    border: 1px solid var(--body-dark-button-border);
}

body.dark-mode .sticky-header {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.form-chart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 5px;
    width: 100%;
    height: auto;
    min-height: 500px;
    box-shadow: 0px 1px 5px 0px #0c111629;
}

.form-chart-simulation {
    flex: 1 1 100%;
    max-width: 100%;
}

.form-container {
    flex: 0 0 auto;
    max-width: 100%;
    overflow-y: auto;
    padding: 0px 5px;
    box-sizing: border-box;
    border: 1px solid var(--form-container-border-color);
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px var(--header-box-shadow);
}

.chart-container {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .form-chart-wrapper {
        flex-direction: row;
        height: 71vh;
    }
    .form-container {
        flex: 0 0 35%;
        max-width: 35%;
        height: 100%;
    }
    .chart-container {
        flex: 1 1 65%;
        max-width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chart-container canvas {
        height: 100% !important;
        max-height: none;
    }
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

#myChart {
    width: 100%;
    min-height: 250px;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 200px) {
    #myChart {
        min-width: 100%;
    }
}

.sticky-header {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 3px 3px 0px var(--header-box-shadow);
    padding: min(1%, 5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    flex-grow: 0.5;
    text-align: center;
    margin: 2px;
    font-size: 2.5vw;
}

.header-left,
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
    gap: 9px;
}

.header-left .logo-container,
.header-right .logo-container {
    display: flex;
    align-items: center;
    position: relative;
}

.header-left .header-logo {
    max-height: var(--header-left-logo);
    cursor: pointer;
}

.header-right .github-logo {
    max-height: calc(var(--header-left-logo) * 0.7);
    cursor: pointer;
}

.logo-help {
    visibility: hidden;
    max-width: 200px;
    background-color: var(--tooltip-bg);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: -70px;
}

.logo-help::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

.logo-container:hover .logo-help {
    visibility: visible;
    opacity: 1;
}

#language-select {
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--language-select-light-bg-color);
    color: var(--light-text-color);
}

body.dark-mode #language-select {
    background-color: var(--language-select-dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.switch {
    display: inline-block;
    width: var(--header-slider-width);
    height: var(--header-slider-diameter);
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background-color);
    transition: 0.4s;
    border-radius: var(--header-slider-diameter);
    /* border: 1px solid var(--body-dark-button-border); */
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--header-slider-knob-size);
    width: var(--header-slider-knob-size);
    left: var(--header-slider-space);
    bottom: calc((var(--header-slider-diameter) - var(--header-slider-knob-size)) / 2);
    background-color: var(--slider-knob-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color-dark);
}


body.dark-mode .slider {
    background-color: var(--slider-background-color-dark);
}

body.dark-mode .slider:before {
    background-color: var(--slider-knob-color-dark);
}
/* 
body.dark-mode input:checked+.slider {
    background-color: var(--slider-primary-color-dark);
} */


input:checked+.slider:before {
    transform: translateX(calc(var(--header-slider-width) - var(--header-slider-knob-size) - 2 * var(--header-slider-space)));
}

.container {
    width: calc(100% - 5px);
    margin: auto;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

body.dark-mode .container {
    border-color: var(--dark-bg-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-section {
    border: 1px solid var(--form-section-border-color);
    border-radius: 5px;
    overflow: hidden;
}

.form-section-toggle {
    padding: 1px;
    border: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin: 5px;
}

.form-section-content {
    transition: max-height 0.3s ease-out;
    padding: 1%;
    overflow: hidden;
}

.form-section-content.collapsed {
    max-height: 0;
    padding: 0;
    border: none;
}

.form-group {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: bold;
}

.input-field {
    text-align: left;
}

.form-actions {
    display: flex;
    justify-content: center;
}

.form-actions button {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: var(--primary-hover-color);
}

.income-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.income-container>input,
.income-container>button {
    flex: 0 0 auto;
    width: 200px;
}

.interest-rate-container {
    position: relative;
}

.input-overlay {
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 0.85em;
    color: var(--secondary-color);
    white-space: nowrap;
}

.help-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.help-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--tooltip-bg);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.help-text::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

body.dark-mode .help-text {
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.help-icon:hover .help-text {
    visibility: visible;
    opacity: 1;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--welcome-message-light-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--welcome-box-shadow);
    z-index: 1000;
    text-align: center;
}

body.dark-mode .welcome-message {
    background-color: var(--welcome-message-dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.welcome-message p {
    margin: 0 0 20px;
}

.welcome-message button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.welcome-message button:hover {
    background-color: var(--primary-hover-color);
}
