:root {
    --light-bg-color: #d1dbe0;
    --light-text-color: #000000c9;
    --dark-bg-color: #1e2a38;
    --dark-text-color: #d1dbe0;
    --primary-color: #2196F3;
    --primary-hover-color: #0056b3;
    --secondary-color: #949494;
    --border-color: #cccccc5f;
    --welcome-message-light-bg-color: #aac3cf;
    --welcome-message-dark-bg-color: #314050;
    --input-dark-bg: #2a3b4d;
    --tooltip-bg: #949494;
    --white: white;
    --welcome-bow-shadow: #0000001a;
    --header-box-shadow: #0c1116b4;
    --body-dark-button-border: #444;
    --slider-background-color: #ccc;
    --toggle-light-bg-color: #b8cee082; /*#9cbcdb80*/
    --toggle-dark-bg-color: #1b3b627a;
    --header-left-logo: 40px;
    --header-slider-space: 3px;
    --header-slider-diameter: calc(var(--header-left-logo) * 0.5);
    --header-slider-width: calc(var(--header-slider-diameter) * 2);
    --header-slider-knob-size: calc(var(--header-slider-diameter) - 2 * var(--header-slider-space));
    --graphOpacity: 0.1;
    --graphRentColorLight: #2584e9c6;
    --graphRentFillColorLight: #2c83e125;
    --graphPurchaseColorLight: #f03f3fd0;
    --graphPurchaseFillColorLight: #df2a2a36;
    --graphRentColorDark: #3f90e6c6;
    --graphRentFillColorDark: #4a93e225;
    --graphPurchaseColorDark: #f06161d0;
    --graphPurchaseFillColorDark: #e7484836;
    --graphTextColorLight: #2e2e2ecd;
    --graphTextColorDark: #d3d3d3b6;
    --even-row-color: #f2f2f2;
    --hover-row-color: #e3f2fd;
    --dark-even-row-color: #2a3b4d;
    --dark-hover-row-color: #3a4b5d;
    --formula-background: #f8f9fa;
    --toggle-font-size: 1em;
    --toggle-icon-size: 1.2em;
}

body {
    --graphRentColor: var(--graphRentColorLight);
    --graphRentFillColor: var(--graphRentFillColorLight);
    --graphPurchaseColor: var(--graphPurchaseColorLight);
    --graphPurchaseFillColor: var(--graphPurchaseFillColorLight);
    --graphTextColor: var(--graphTextColorLight);
    font-family: Arial, sans-serif;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    overflow-x: hidden;
    width: calc(100% - 10px);
    margin: 5px;
}

body.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    --graphRentColor: var(--graphRentColorDark);
    --graphRentFillColor: var(--graphRentFillColorDark);
    --graphPurchaseColor: var(--graphPurchaseColorDark);
    --graphPurchaseFillColor: var(--graphPurchaseFillColorDark);
    --graphTextColor: var(--graphTextColorDark);
}

input,
button {
    padding: 5px;
    /* margin-top: 1px;
    margin-bottom: 10px; */
    box-sizing: border-box;
}

body.dark-mode input,
body.dark-mode button {
    background-color: var(--input-dark-bg);
    color: var(--dark-text-color);
    border: 1px solid var(--body-dark-button-border);
}

body.dark-mode .sticky-header {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.form-chart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 5px;
    width: 100%;
    height: auto;
    min-height: 500px;
}

.form-chart-simulation {
    flex: 1 1 100%;
    max-width: 100%;
}

.form-container {
    flex: 0 0 auto;
    max-width: 100%;
    overflow-y: auto;
    padding: 0px 5px;
    border: 1px solid var(--tooltip-bg);
    border-radius: 5px;
}

.chart-container {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .form-chart-wrapper {
        flex-direction: row;
        height: 71vh;
    }
    .form-container {
        flex: 0 0 35%;
        max-width: 35%;
        height: 100%;
    }
    .chart-container {
        flex: 1 1 65%;
        max-width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chart-container canvas {
        height: 100% !important;
        max-height: none;
    }
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

#myChart {
    width: 100%;
    min-height: 250px;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 200px) {
    #myChart {
        min-width: 100%;
    }
}

.sticky-header {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 3px 3px 0px var(--header-box-shadow);
    padding: min(1%, 5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    flex-grow: 0.5;
    text-align: center;
    margin: 2px;
    font-size: 2.5vw;
}

.header-left,
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
    gap: 9px;
}

.header-left .logo-container,
.header-right .logo-container {
    display: flex;
    align-items: center;
    position: relative;
}

.header-left .header-logo {
    max-height: var(--header-left-logo);
    cursor: pointer;
}

.header-right .github-logo {
    max-height: calc(var(--header-left-logo) * 0.7);
    cursor: pointer;
}

.logo-help {
    visibility: hidden;
    max-width: 200px;
    background-color: var(--tooltip-bg);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: -70px;
}

.logo-help::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

.logo-container:hover .logo-help {
    visibility: visible;
    opacity: 1;
}

#language-select {
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

body.dark-mode #language-select {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.switch {
    display: inline-block;
    width: var(--header-slider-width);
    height: var(--header-slider-diameter);
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background-color);
    transition: 0.4s;
    border-radius: var(--header-slider-diameter);
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--header-slider-knob-size);
    width: var(--header-slider-knob-size);
    left: var(--header-slider-space);
    bottom: calc((var(--header-slider-diameter) - var(--header-slider-knob-size)) / 2);
    background-color: var(--white);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(calc(var(--header-slider-width) - var(--header-slider-knob-size) - 2 * var(--header-slider-space)));
}

.container {
    width: calc(100% - 10px);
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

body.dark-mode .container {
    border-color: var(--dark-bg-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-section {
    border: 1px solid var(--tooltip-bg);
    border-radius: 5px;
    overflow: hidden;
}

.form-section-toggle {
    padding: 10px 10px;
    border: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--toggle-font-size);
    /* width: 100%; */
    margin: 0;
    background-color: var(--toggle-light-bg-color);
    color: var(--light-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.form-section-toggle::after {
    content: "+";
    font-size: var(--toggle-icon-size);
    transition: transform 0.3s;
}

.form-section-toggle.expanded::after {
    content: "-";
}

body.dark-mode .form-section-toggle {
    background-color: var(--toggle-dark-bg-color);
    color: var(--dark-text-color);
}

.form-section-content {
    transition: max-height 0.3s ease-out;
    padding: 1%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* max-height: 1000px; */
}

.form-section-content.collapsed {
    max-height: 0;
    padding: 0;
    border: none;
}

.form-group {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-group label {
    font-size: large;
}

.input-field {
    text-align: left;
}

.form-actions {
    display: flex;
    justify-content: center;
}

.form-actions button {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
}

.form-actions button:hover {
    background-color: var(--primary-hover-color);
}

.income-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.income-container>input,
.income-container>button {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 5px;
}

.interest-rate-container {
    position: relative;
}

.input-overlay {
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 0.85em;
    color: var(--secondary-color);
    white-space: nowrap;
}

.help-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.help-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--tooltip-bg);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.help-text::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

body.dark-mode .help-text {
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.help-icon:hover .help-text {
    visibility: visible;
    opacity: 1;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--welcome-message-light-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--welcome-bow-shadow);
    z-index: 1000;
    text-align: center;
}

body.dark-mode .welcome-message {
    background-color: var(--welcome-message-dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.welcome-message p {
    margin: 0 0 20px;
}

.welcome-message button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.welcome-message button:hover {
    background-color: var(--primary-hover-color);
}

/* Collapsible Results Sections */
.results-section {
    margin-bottom: 5px;
    background-color: var(--formula-background);
    padding: 0;
    border-radius: 8px;
    border: 1px solid var(--tooltip-bg);
    overflow: hidden;
}

body.dark-mode .results-section {
    background-color: var(--dark-bg-color);
    border-color: var(--tooltip-bg);
}

.results-section-toggle {
    padding: 10px 15px;
    border: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--toggle-font-size);
    width: 100%;
    background-color: var(--formula-background);
    color: var(--light-text-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.dark-mode .results-section-toggle {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.results-section-toggle::after {
    content: "+";
    font-size: var(--toggle-icon-size);
    transition: transform 0.3s;
}

.results-section-toggle.expanded::after {
    content: "-";
}

.results-section-content {
    transition: max-height 0.3s ease-out;
    /* max-height: 1000px; */
    overflow: hidden;
    /* padding: 15px; */
}

.results-section-content.collapsed {
    max-height: 0;
    padding: 0;
    border: none;
}

/* Results Table */
.results-table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 5px 0; */
    font-size: 0.9em;
    box-shadow: 0 0 10px var(--header-box-shadow);
    border-radius: 8px;
    overflow: hidden;
}

.results-table thead {
    background-color: var(--primary-color);
    color: var(--white);
}

.results-table th,
.results-table td {
    padding: 12px 15px;
    text-align: left;
}

.results-table td:last-child {
    text-align: right;
}

.results-table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

.results-table tbody tr:nth-of-type(even) {
    background-color: var(--even-row-color);
}

body.dark-mode .results-table tbody tr:nth-of-type(even) {
    background-color: var(--dark-even-row-color);
}

.results-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.results-table tbody tr:hover {
    background-color: var(--hover-row-color);
}

body.dark-mode .results-table tbody tr:hover {
    background-color: var(--dark-hover-row-color);
}

.simulation h2 {
    text-align: center;
    font-size: var(--toggle-font-size);
}

/* Button */
.button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button:hover {
    background-color: var(--primary-hover-color);
}
