:root {
    --light-bg-color: #d1dbe0;
    --light-text-color: #000000;
    --dark-bg-color: #1e2a38;
    --dark-text-color: #d1dbe0;
    --primary-color: #2196F3;
    --primary-hover-color: #0056b3;
    --secondary-color: #949494;
    --border-color: #ccc;
    --welcome-message-light-bg-color: #aac3cf;
    --welcome-message-dark-bg-color: #314050;
    --input-dark-bg: #2a3b4d;
    --tooltip-bg: #949494;
    --white: white;
    --welcome-bow-shadow: #0000001a;
    --header-box-shadow: #0c1116b4;
    --body-dark-button-border: #444;
    --slider-background-color: #ccc;
    --toggle-light-bg-color: #25374d91;
    --toggle-dark-bg-color: #dde5f0cb;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    overflow-x: hidden;
    width: calc(100% - 10px);
    margin: 5px;
}

body.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

body.dark-mode input,
body.dark-mode button {
    background-color: var(--input-dark-bg);
    color: var(--dark-text-color);
    border: 1px solid var(--body-dark-button-border);
}

.form-chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.form-container {
    flex: 1 1 100%;
    max-width: 100%;
    height: 500px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.chart-container {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 900px) {
    .form-chart-wrapper {
        flex-wrap: nowrap;
    }
    .form-container {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .chart-container {
        flex: 0 0 70%;
        max-width: 70%;
    }
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 600px;
}

#chart-container {
    width: 100%;
    height: auto;
    padding: 10px;
}

#myChart {
    width: 100%;
    min-height: 250px;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 200px) {
    #myChart {
        min-width: 100%;
    }
}

.sticky-header {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 3px 1px var(--header-box-shadow);
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body.dark-mode .sticky-header {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.header-left, .header-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
}

.header-left .logo-container,
.header-right .logo-container {
    display: flex;
    align-items: center;
    position: relative;
}

.header-left .header-logo {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

header h1 {
    flex-grow: 0.5;
    text-align: center;
    margin: 0;
    font-size: 3vw;
}

.header-right .github-logo {
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
}

.logo-help {
    visibility: hidden;
    max-width: 200px;
    background-color: var(--tooltip-bg);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: -35px;
}

.logo-help::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

.logo-container:hover .logo-help {
    visibility: visible;
    opacity: 1;
}

#language-select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

body.dark-mode #language-select {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.container {
    width: calc(100% - 10px);
    margin: auto;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

body.dark-mode .container {
    border-color: var(--dark-bg-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.form-section {
    margin: 2px;
    /* margin-bottom: 10px; */
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

.form-section-toggle {
    padding: 1px;
    /* background-color: var(--toggle-light-bg-color); */
    border: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin: 4px;
}

.form-section-content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.form-section-content.collapsed {
    max-height: 0;
    padding: 0;
    border: none;
}

.form-group {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.form-group label {
    font-weight: bold;
}

.input-field {
    text-align: left;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.form-actions button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: var(--primary-hover-color);
}

.income-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.income-container > input,
.income-container > button {
    flex: 0 0 auto;
    width: 200px;
}

.interest-rate-container {
    position: relative;
}

.input-overlay {
    position: absolute;
    left: 10px;
    bottom: 100%;
    font-size: 0.85em;
    color: var(--secondary-color);
    white-space: nowrap;
    transform: translateY(-5px);
}

.help-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.help-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--tooltip-bg);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.help-text::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

body.dark-mode .help-text {
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.help-icon:hover .help-text {
    visibility: visible;
    opacity: 1;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--welcome-message-light-bg-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    box-shadow: 0 0 10px var(--welcome-box-shadow);
    z-index: 1000;
    text-align: center;
}

body.dark-mode .welcome-message {
    background-color: var(--welcome-message-dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.welcome-message p {
    margin: 0 0 20px;
}

.welcome-message button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.welcome-message button:hover {
    background-color: var(--primary-hover-color);
}
